<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oneall.oneallsample" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".OAMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="path"
                    android:scheme="oneall" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.oneall.oneallsdk.ProviderSelectActivity"
            android:label="@string/title_activity_provider_select" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="YOUR FABRIC API KEY HERE" />

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".PostActivity"
            android:label="@string/title_activity_post" >
        </activity>
    </application>

</manifest>
